* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
      --coffee: #342e37;
      --tea: #dcf2b0;
      --green: #5e8c61;
}

body {
    color: var(--coffee);
    font-family: Helvetica, Arial, sans-serif;
}

.section-title {
    font-size: 32px;
    border-right: 3px solid var(--green);
    color: var(--green);
    margin: 20px;
    padding: 10px;
    height: 400px;
    width: 175px;
}


/* Header Styles */
header {
    padding: 20px 35px;
    background-color: var(--coffee);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
}

header h1 {
    font-weight: bold;
    font-size: 40px;
    color: var(--tea);
    margin: 0;
}

header a {
    text-decoration: none;
    color: var(--tea);
}

header nav {
    margin: 5px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 24px;
    border-radius: 15px;
    transition: 1s;
}

header nav ul li a:hover {
    background-color: var(--tea);
    color: var(--green);
}

/* Hero Styles */
.hero {
    background-image: url("../images/forest-hero.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-attachment: fixed;
    height: 300px;
    position: relative;
}

.hero-quote {
    color: var(--tea);
    font-size: 24px;
    text-align: center;
    position: absolute;
    bottom: 10px;
    right: 10px;
    margin: 10px;
}

/* About Me Styles */
.about {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: var(--tea);
}

.about-item {
    position: relative;
    width: 42%;
    font-size: 24px;
}

.about-item p {
    margin: 20px 0;
}

.about-img {
    width: 60%;
    margin: 20px 0;
    margin-right: 50px;
    float: right;
    border-radius: 15px;
}

/* Work Styles */
.work {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--coffee);
    color: var(--tea);
    font-weight: bold;
}

.work-grid-wrapper {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 80%;
    margin: 20px;
}

.work-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
}

.work-grid-item {
    width: 300px;
    height: 300px;
    display: flex;
    position: relative;
    transition: 1s;
}

.run-buddy {
    background-image: url(../images/run-buddy.png);
    background-size: cover;
}

.access {
    background-image: url(../images/access.png);
    background-size: cover;
}

.work-grid-item:hover {
    width: 350px;
    height: 350px;
}

.work-grid-item p {
    background-color: var(--coffee);
    position: absolute;
    bottom: 5px;
    left: 5px;
    padding: 5px;
}

.link::after {
    content: "";
    background: rgba(94, 140, 97, 0.3);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    transition: 1s;
}

.link:hover::after {
    opacity: 0;
}

/* Contact Styles */
.contact {
    display: flex;
    justify-content: space-between;
    background-color: var(--tea);
}

.contact-text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.contact-item {
  margin: 20px 30px;
  padding: 20px;
  font-size: 24px;
  background-color: var(--coffee);
  border-radius: 20px;
}

.contact-item a {
    text-decoration: none;
    color: var(--tea);
    transition: 1s;
}

.contact-item a:hover {
    color: var(--green);
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 10px;
        justify-content: center;
    }

    .section-title {
        border-right: none;
        border-bottom: 3px solid var(--green);
        display: block;
        justify-self: center;
        height: unset;
        width: 100%;
        margin: 10px 0 0 0;
    }

    /* Media Style for Nav Bar */
    header nav ul {
        justify-content: center;
    }

    header nav ul li a:hover {
        background-color: unset;
        color: var(--tea);

    }
    /* Media Style for About Section */
    .about {
        align-items: unset;
        justify-content: unset;
    }
    .about-item {
        width: 100%;
        margin: 10px;
        text-align: justify;
    }

    .about > div:first-of-type, .work > div:first-of-type, .contact > div:first-of-type {
        margin: 0 auto;
    }
    .about-img{
        width: 100%;
        margin: 0;
    }

    /* Media Styles for Work Section */
    .work-grid-wrapper {
        width: 100%;
    }

    .work-grid-container{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }

    .link::after {
        opacity: 0;
    }

    .work-grid-item:hover {
        width: 300px;
        height: 300px;
    }

    /* Media Styles for Contact Me Section */
    .contact {
        display: grid;
        margin: 0 auto;
        justify-content: unset;
    }

    .contact-text {
        display: unset;
    }

    .contact-item {
        text-align: center;
    }

    .contact-item a:hover {
        color: var(--tea);
    }
}